.content {
  width: 1000px;
  background-color:$color__background-body;
  margin: {
    right: auto;
    left: auto;
  };
  padding: 2rem;
  p > a {
    color: $color__darkblue;
    font-size: 110%;
    :visited {
      color: inherit;
    }
  }
  
}