


.content {

  width: 100%;
  max-width: 960px;
  background-color: $color__white;

  margin: 0 auto;
  padding-block: 4rem;
  padding-inline: 4rem;

  // Kontaktinfo Styling
  .kontakt {
    display: block;
    height: max-content;
    width: 100%;
    padding: 2rem;
    background-color: $color__gray;
    margin-bottom: 1rem;

    li {
      color: $color__orange;
      font-size: 1.6rem;
    }

    :first-child {
      font-weight: 800;
    }
  }

  // Download-Button Styling
  .wp-block-file {

    display: flex;
    justify-content: end;

    margin: 0;
    padding: 0;
    margin-top: 4rem;
    margin-bottom: 1rem;

    :first-child {
      display: none;
    }

    a {
      font-size: 1.6rem;
      font-family: $font__main;
      background-color: $color__darkblue;
      color: $color__white;
    }
  }

}

