html {
  font-size: 10px;
}

body {
  background-image: url("./assets/img/punkte_pattern.png");
}

h2 {
  color: $color__orange;
  font-size: 3.4rem;
}

p {
  color: $color__darkblue;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
