html {
  font-size: 10px;
}

body {
  background-image: url("./assets/img/punkte_pattern.png");
}

body, header, footer, h1, h2, h3, 
.wp-block-latest-posts__post-title {
  font-family: $font__main;
  margin: 0;
  padding: 0;
}

h1 {
  color: $color__darkblue;
  font-size: 3.5rem;
}

.wp-block-latest-posts__post-title {
  color: $color__darkblue;
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  color: $color__orange;
  font-size: 3rem;
  font-weight: 500;
}
h3 {
  color: $color__orange;
  font-size: 2.4rem;
  //font-weight: 10rem;
  margin-top: 4rem;
}

p {
  color: $color__darkblue;
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wp-block-latest-posts__post-date {
  font-size: 1.25rem;
}

.wp-block-latest-posts {
  a {
    color: #32b5a3;
  }
  a:hover {
    opacity: .75;
  }
}

.wp-block-latest-posts__post-title {
  color: $color__orange !important;
  text-decoration: none;
}

.wp-block-columns {
  flex-wrap: wrap-reverse;
}
.wp-block-latest-posts__post-title:hover {
  color: $color__orange;
}

p {
  a {
    color: #32b5a3;
  }
  a:hover {
    color: #32b5a3;
    opacity: .75;
  }
}